/* my css file*/

body{
    font-family: Arial, Helvetica, 
    sans-serif;
    background-color: yellowgreen;
}
img {
    border: 10px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    
  }

h1{
    border: 5px dotted red;
}

blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    background-color: aqua;
}

p.cite{
    font-size: 1.5rem;
}

.bigbold{
    font-weight: bold;
    font-size: 1.3rem;
}
.image-header{
    text-align: center;
}



a:link{
    font-weight: bold;
    text-decoration: none;
    color: brown;
}

a:visited{
    font-weight:normal;
    color: black ;
}

a:hover{
    color: blue;
    background-color: aliceblue;
}

div{
    border : 5px blue solid;
    margin-bottom:2rem;
      background-color:lightblue;
    padding-left: 1rem;
    
  }
  .box1{
    border-color:orange;
    background-color:yellow;
  }

  nav ul{
      list-style-type: none;
      padding: 0;
      margin: 0; 
      display: block;

  }
  nav li{
      border: 2px solid red;
      width: 10rem ;
      background-color: blanchedalmond;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0.5rem;
      display: inline-block;
  }
  